#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  padding: 0 1rem;
}

.profiles {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: .25rem
}

.profile__item {
  display: flex;
  flex-flow: column nowrap;
  max-width: 320px;
  width: 100%;
  padding: 2em;
}

.profile__item p {
  padding: .25rem 0;
  margin: 0;
  font-size: .895rem;
  text-align: left;
}

.read-the-docs {
  color: #888;
}

.uc-form {
  display: flex;
  flex-flow: column nowrap;
  max-width: 320px;
  width: 100%;
}



.control-label {
  display: flex;
  flex-flow: column nowrap;
  width: 320px;
  padding: .25rem 0;
  box-sizing: border-box;
}

.control-label input:not(input[type=checkbox]),
.control-label select {
  border-radius: 4px;
  width: inherit;
  padding: .5rem;
  border: none;
  outline: 1px solid #dbdada;
}

.control-label.error input,
.control-label.error input[type=checkbox] .control-label.error select {
  outline-color: crimson !important;
}

.message-error {
  color: crimson;
  font-size: .725rem;
}