.search {
    display: flex;
    box-sizing: border-box;
    padding: 0 0 1rem 0;
    &__input{
      border: none;
      padding: 0.5rem;
      width: 100%;
      outline: 1px solid #d5d5d5;
      border-radius: 4px;
      font-size: 0.875rem;
      color: #777;
    
      &:focus {
        outline: cornflowerblue 1px solid;
      }
    }
    &__button{
      margin-left: 0.5rem;
      padding: .5rem;
      border: none;
      background-color: cornflowerblue;
      border-radius: 4px;
    }
  }
